/* ---------- Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Code+Pro&family=Ubuntu:wght@300;400;500;700&display=swap');

/* ---------- Main Styles */

body {
    background-color: rgb(0, 16, 41);
    height: 1000px;
    padding-top: 40px;
}

.green-text {
    color: rgb(144, 0, 255);
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
}


/* ---------- Image Styles */

.hero-image {}

/* ---------- Nav Styles */

.navbar-bg-color {
    background-color: rgb(0, 16, 41);
}

.navbar-font-style {
    font-family: "Source Code Pro", sans-serif;
    text-transform: lowercase;
}

.navbar {
    z-index: 1;
}

.brand-heading {
    color: rgb(0, 208, 255);
}

/* ---------- Home Styles */

.main-heading {
    padding-left: 40px;
    font-family: "Source Code Pro", sans-serif;
    color: #fff;
    text-transform: lowercase;
}

.code-text {
    color: #fff;
    font-family: "Source Code Pro", sans-serif;
    text-transform: lowercase;
}

.main-section {
    margin-top: 50px;
    color: #fff;
    text-align: center;
}

.main-heading {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 4px;
    padding-left: 0;
    text-decoration: underline;
}

.secondary-heading {
    font-family: "Bebas Neue", sans-serif;
}

.headings {
    font-family: "Bebas Neue", sans-serif;
    color: rgb(0, 208, 255)
}

.list-group-bg {
    background-color: rgb(0, 16, 41);
    color: white;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

.sub-headings {
    margin: 40px;
    font-family: "Bebas Neue", sans-serif;
    color: rgb(0, 208, 255);
    font-size: 38px;
}







/* ---------- Footer Styles */

.footer-bg-color {
    background-color: rgb(49, 49, 49);
}

.footer-headings {
    color: #fff;
    font-family: "Source Code Pro", sans-serif;
    text-transform: lowercase;
    margin-top: 10px;
    margin-bottom: -10px;
    text-align: center;

}

.footer-lists {
    text-transform: lowercase;
    text-align: center;
    list-style: none;
}

.footer-lists a {
    text-decoration: none;
    color: #fff;
    font-family: "Source Code Pro", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-main {
    margin-bottom: 1vh;
}

.bottom-heading {
    color: #fff;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

/* ---------- hover.css Styles */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }